<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Registro", namePage:"profile"}) %>

    <body>
        <%- include('../partials/header') %>

            <main class="registro">
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <h1>
                        <%- user.name+' '+user.lastName %>
                    </h1>
                    <div class="photo">
                        <img src="/images/users/<%- user.Avatar  %>" alt="">
                    </div>
                    <input type="file" name="avatar" class="btn-changer">
                    <label for="name">Tu nombre</label>
                    <input class="registro-nombre" type="text" id="name" name="name" value="<%- user.name %> " />

                    <label for="lastName">Tu apellido</label>
                    <input class="registroApellido" type="text" id="lastName" name="lastName" required/>

                    <label for="email">Correo electrónico </label>
                    <input class="registro-email" type="email" id="email" name="email" required/>

                    <label for="password">Contraseña</label>
                    <input class="registro-contraseña" type="password" placeholder="Como minimo 6 caracteres" id="password" name="password" minlength="6" required/>

                    <label for="country">Pais</label>
                    <input class="registro-contraseña" type="text" placeholder="Ej: Colombia" id="country" name="country" required/>


                    <input class="crear-cuenta" type="submit" value="Crear cuenta">
                    <div class="goto-login">
                        <p>¿Ya tienes una cuenta? <a href="/users/login">Inicia sesión</a></p>
                    </div>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>


</html>