<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title:"Home", namePage:"home"}) %>

    <body>
        <%- include('./partials/header') %>

            <section class="banner">
                <img src="images/banner.jpg" alt="Banner">
            </section>

            <main>
                <section class="Nuevos-productos">
                    <h3>Nuevos productos</h3>
                    <div class="productos">
                        <% productsWithoutDiscount.forEach(product => {%>
                            <article>
                                <a href="/products/detail/<%= product.id %> ">
                                    <img src="../images/products/<%= product.images[0].image %>" alt="portatil" class="product_img">
                                </a>
                                <div class="main-article">
                                    <h4 class="descripcion">
                                        <%= product.name%>
                                    </h4>
                                    <p class="precio">
                                        <%= "$" + Number(product.price).toLocaleString('es-ES') %>
                                    </p>                                  
                                    <p class="envios">Envio:
                                        <%= product.envio!=0 ? "$"+product.shipping : 'Gratis'; %>
                                    </p>
                                </div>
                            </article>
                            <%}); %>
                    </div>
                </section>

                <section class="Ofertas">
                    <h3>Productos en Oferta</h3>
                    <div class="productos">
                        <% productsWithDiscount.forEach(product => {%>
                            <article>
                                <a href="/products/detail/<%= product.id %> ">
                                    <img src="../images/products/<%= product.images[0].image %>" alt="portatil" class="product_img">
                                </a>
                                <div class="main-article">
                                    <h4 class="descripcion">
                                        <%= product.name%>
                                    </h4>
                                    <p class="precio">
                                        <%= "$" + Number(product.price).toLocaleString('es-ES') %>
                                    </p>
                                    <p class="envios">Envio:
                                        <%= product.envio!=0 ? "$"+product.shipping : 'Gratis'; %>
                                    </p>
                                </div>
                            </article>
                            <%}); %>
                    </div>
                </section>

                <%- include('./partials/footer') %>

    </body>
    <script src="https://kit.fontawesome.com/f3d4785aed.js" crossorigin="anonymous"></script>

</html>