<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Agregar y editar Producto", namePage:"add_editProduct"}) %>

    <body>

        <%- include('../partials/header') %>

            <main>
                <section class="information">
                    <div class="information-main">
                        <form action="/products/create" method="post" enctype="multipart/form-data" class="infor-product">
                            <div class="photo">
                                <img class="imagePreview" src="/images/logo.png" alt="" srcset="">
                                <div class="collage-photo">
                                    <img src="/images/logo.png" alt="" srcset="" class="enable imagePreview">
                                    <img src="/images/logo.png" alt="" srcset="" class="disabled imagePreview">
                                    <img src="/images/logo.png" alt="" srcset="" class="disabled imagePreview">
                                    <img src="/images/logo.png" alt="" srcset="" class="enable imagePreview">
                                    <img src="/images/logo.png" alt="" srcset="" class="disabled imagePreview">
                                    <img src="/images/logo.png" alt="" srcset="" class="disabled imagePreview">
                                </div>
                                <div class="div-avatar">
                                    <i class="fa-solid fa-camera"></i>
                                    <label for="productImage" class="label-avatar">Seleccionar imagen</label>
                                    <input type="file" name="productImage" id="productImage" class="btn-changer">
                                </div>
                            </div>
                            <div class="information-header">
                                <h3>INFORMACIÓN DEL PRODUCTO</h3>
                            </div>
                            <div class="infor-product-section">
                                <label for="name">Nombre:</label>
                                <input type="text" name="name" id="name" placeholder="Nombre">
                            </div>
                            <div class="infor-product-section">
                                <label for="specifications">Especificaciones:</label>
                                <textarea name="specifications" id="specifications"> </textarea>
                            </div>
                            <div class="infor-product-section">
                                <div class="characteristics-header">
                                    <h4>Caractersiticas:</h4>
                                    <i class="fa-solid fa-circle-plus" onclick="addNewCharacteristics();"></i>
                                </div>
                                <div class="characteristics-main" id="characteristics-main">
                                    <div class="characteristics-section">
                                        <div class="characteristics-main-title">
                                            <label for="characteristicsTitle">Titulo de la Caracteristicas:</label>
                                            <input type="text" name="characteristicsTitle" id="characteristicsTitle" placeholder="Titulo">
                                        </div>
                                        <div class="characteristics-main-context">
                                            <div class="characteristics-main-context-top">
                                                <h5>Cuerpo de la Caracteristicas</h5>
                                                <i class="fa-solid fa-circle-plus" onclick="addNewcharacteristicsDiscripction(0);"></i>
                                            </div>
                                            <div class="characteristics-main-context-down" id="characteristics-main-context-down_0">
                                                <div class="characteristics-section">
                                                    <label for="characteristicsContextSubtitle_0">Subtitulo:</label>
                                                    <input type="text" name="characteristicsContextSubtitle_0" id="characteristicsContextSubtitle_0" placeholder="Subtitulo">
                                                    <label for="characteristicsContextDescription_0">Descripcion:</label>
                                                    <input type="text" name="characteristicsContextDescription_0" id="characteristicsContextDescription_0" placeholder="Descripcion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="infor-product-section">
                                <label for="warranty">Categoria:</label>
                                <select name="category" id="category">
                                    <% categoryProduct.forEach(category=>{ %>
                                        <option value="<%= category.id %>"><%= category.name %> </option>
                                    <%}) %> 
                                </select>
                            </div>
                            <div class="infor-product-section">
                                <label for="warrantyText">Garantia:</label>
                                <input type="text" name="warrantyText" id="warrantyText" placeholder="Descripción de la Garantia">
                                <input type="number" name="warrantyTime" id="warranty" placeholder="Tiempo de la Garantia">
                            </div>
                            <div class="infor-product-section">
                                <label>Medios de Pago:</label>
                                <div class="payment-methods">
                                    <% paymentMethod.forEach(method => { %>
                                        <div class="payment-method">
                                            <input type="checkbox" name="paymentMethod" value="<%= method.id %>" id="paymentMethod<%= method.id %>">
                                            <label for="paymentMethod<%= method.id %>"><img src="/images/methodLogos/<%= method.image %> " alt="" srcset=""></label>
                                        </div>
                                        <%}); %>
                                </div>
                            </div>
                            <div class="infor-product-section">
                                <label for="price">Precio:</label>
                                <input type="number" name="price" id="price" placeholder="Precio">
                            </div>
                            <div class="infor-product-section">
                                <label for="discount">Descuento:</label>
                                <input type="number" name="discount" id="discount" placeholder="Descuento">
                            </div>
                            <div class="infor-product-section btn-save-reset">
                                <button type="submit">Guardar</button>
                                <button type="reset">Borrar</button>
                            </div>
                        </form>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>

    </body>
    <script src="/js/products/addCharacteristics.js"></script>
    <script src="https://kit.fontawesome.com/f108e44f29.js" crossorigin="anonymous"></script>
    <script src="/js/products/createProduct.js"></script>

</html>