<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title:"Lista Productos", namePage:"listaproductos"}) %>

    <body>

        <%- include('../partials/header') %>

            <main>
                <section>
                   
                    <div class="productos">
                        <% for(let i=0; i<products.length; i++){ %>
                        <article class="articulo">
                           
                            <a href="productDetail/<%= products[i].id %>">
                                <img src="image/<%= products[i].image %>" alt="<%= products[i].nombre %>" class="product_img">
                            </a>
                            <div class="main-article">
                                <h4 class="descripcion"><%= products[i].nombre %></h4>
                                <p class="precio"><%= toThousand(products[i].precio) %></p>
                                <p><%= products[i].name %></p>
                                <p class="envios">Envio gratis</p>
                                <a class="boton-editar" href="/add_editProduct">Editar</a>
                                <form action="/listaproductos/delete/<%= products[i].id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                <input class="boton-eliminar" type="submit" value="Eliminar">
                                </form>


                            </div>
                        </article>
                        <% } %>
                        
                    </div>
                   
                </section>
            </main>

            <%- include('../partials/footer') %>

    </body>


</html>